<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- UTF-8 kodlamasını belirtir -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Sıfırlama</title>
</head>
<body>
    <p>Merhaba,</p>
    <p>Şifre sıfırlama talebinde bulundunuz. Şifrenizi sıfırlamak için aşağıdaki bağlantıya tıklayın:</p>
    <p><a href="{{ protocol }}://{{ domain }}/reset/{{ uid }}/{{ token }}/">Şifrenizi sıfırlayın</a></p>
    <p>Eğer bu talebi siz yapmadıysanız, bu e-postayı görmezden gelebilirsiniz.</p>
    <p>Teşekkürler,</p>
    <p><strong>Tarsus Üniversitesi QR Yoklama Sistemi</strong></p>
</body>
</html>
